body{
    background: linear-gradient(20deg, black, #074d50);
    background-attachment: fixed;
    color: rgb(218,237,233);
    font-family: "Fira Sans", sans-serif;
    font-size: 22px;
    h1, h2, h3{
        font-family: "Audiowide",sans-serif;
    }
}